body, html{
margin: 0;
padding: 0;
overflow: clip;

}
.container2 > img{
   
    height: 80vh;
    width:100vw;
 background-size: cover;
}
.ad1{
    width: 100vw;
    height: 40vh;
    background-color: rgb(237, 239, 240);
    border-radius: 46px;
    margin-top: -75px;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    height: 40px;
    width: 100px;
    background-color: blue;
    color: aliceblue;
}
p{
    font-size: 20px;
}
h1{
    margin-top: -80px;
}
