body, html{
    overflow: clip;
}
img{
    width: 100vw;
    height: 80vh;
}

.divtext{
    background-color: blue;
    margin-top: -50px;
    height: 220px;
box-shadow:2px 2px 10px ;
}
h1{
color: aliceblue;
}Next
p{
    color: aliceblue;
    font-size: 1rem;
    margin-top: -2vw;
}
button{
    height: 40px;
    width: 90px;
 
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.divtext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}
